스마트 워치를 착용하여 6개월동안 수집된 데이터셋을 활용하여 간단한 신경망을 이용하여 예측모델을 만들어보겠습니다.

데이터셋에 포함된 특성은 다음과 같습니다.

- 날짜
- 칼로리 소모량
- 걸음 수
- 이동거리
- 층수
- 정적인 시간(분)
- 약간 활동적인 시간(분)
- 상당히 활동적인 시간(분)
- 매우 활동적인 시간(분)
- 활동 칼로리

In [1]:
import pandas as pd

df = pd.read_csv('fitbit_export_2021.csv', thousands = ',')
print(df.columns)

Index(['날짜', '칼로리 소모량', '걸음 수', '이동 거리', '층수', '정적인 시간(분)', '약간 활동적인 시간(분)',
       '상당히 활동적인 시간(분)', '매우 활동적인 시간(분)', '활동 칼로리'],
      dtype='object')

In [2]:
df

,날짜,칼로리 소모량,걸음 수,이동 거리,층수,정적인 시간(분),약간 활동적인 시간(분),상당히 활동적인 시간(분),매우 활동적인 시간(분),활동 칼로리
0,2021. 1. 29.,2230,6304,4.79,0,792,159,0,0,726
1,2021. 1. 30.,2883,13187,9.33,0,671,348,26,25,1639
2,2021. 1. 31.,2756,12702,8.74,0,544,352,14,8,1535
3,2021. 2. 1.,2674,9775,6.81,0,861,294,13,9,1299
4,2021. 2. 2.,1667,538,0.37,0,908,35,0,0,124
...,...,...,...,...,...,...,...,...,...,...
120,2021. 6. 12.,2740,14267,9.79,0,1068,339,24,9,1536
121,2021. 6. 13.,1657,1073,0.73,0,1282,38,0,0,136
122,2021. 6. 14.,2435,9433,6.46,0,795,183,6,22,987
123,2021. 6. 15.,1943,3492,2.42,0,1340,81,7,12,412
124,2021. 6. 16.,2063,4232,2.90,0,1312,120,6,2,608